.search {
  width: 40%;
  height: 2.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0 1rem;
}

.main {
  text-align: center;
}

.card-container {
  min-height: 350px;
}

.player-card {
  height: 350px;
  overflow: hidden;

  & img {
    transition: transform 0.3s;
    height: 100%;
    width: 100%;
  }

  &:hover{
    cursor: pointer;
  }
}